
.exchange-rates, .calculator {
    background-color: white;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 1px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.calc-input, .calc-select, .calc-buttons, .calc-result {
    margin: 10px 0;
}

select, input {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    background-color: #ffffff;
    border: 1px solid;
    border-color: gainsboro;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 14px;
    color: black;
    background-color: #ffffff;
    border: 1px solid;
    border-color: gainsboro;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a2cefc;
}